body{
    background-color: rgb(204, 40, 219);
}
.bg-image{ 
    background-image: url("../Images/maths_op.png"); 
    height: 100vh;
    filter: blur(8px);
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
